body {
    zoom: 100%;
    margin: 0px;
    padding: 0px;
    background: #282522;
  }
  canvas{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }

  .logo{
    margin-left: 10px;
    margin-top: 5px;
  }

  .dashboard{
    display: flex;
    flex-wrap: wrap;

  }

  .buttons{
    text-align:center;
    margin-top: 30px;
  }
  
  .landscape{
    width: 350px;
    height: auto;
  }
  
  .child{
    width:300px;
    height:auto;
    margin:60px auto;

  }
  
  .button{
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: #282522;
    padding: 16px;
    font-size: 20px;
    border-radius: 10px;
    transition: all 0.2s;
  }

  .button:active{
    cursor: pointer;
    box-shadow: 0px 7px 0px 0px #b2b7bb;
  }

  .d{
    margin-top:80px;
  }

  .download{
    background-color: #499fda;
    color: #dce4e9;
    font-size: 30px;
    padding: 18px 24px 18px 24px;
    box-shadow: 0px 10px 0px 0px #258cd1 ;
  }
  .download:active{
    cursor: pointer;
    box-shadow: 0px 7px 0px 0px #258cd1;
  }
  .rquote {
    background-color: #dce4e9;
    box-shadow: 0px 10px 0px 0px #b2b7bb ;
  }
  .rquote:active {
    background-color: #dce4e9;
    box-shadow: 0px 5px 0px 0px #b2b7bb;
  }
  .rpost{
    background-color: #dce4e9;
    box-shadow: 0px 10px 0px 0px #b2b7bb ;
  }
  .rpost:active {
    background-color: #dce4e9;
    box-shadow: 0px 5px 0px 0px #b2b7bb;
  }
  .rbg{
    background-color: #dce4e9;
    box-shadow: 0px 10px 0px 0px #b2b7bb ;
  }
  .rbg:active {
    background-color: #dce4e9;
    box-shadow: 0px 5px 0px 0px #b2b7bb;
  }

  .row2{
    margin-top:60px;

  }
  .portrait{
    text-align: center;
    width: 100%;
    height: auto;
  }
  .downloadp{
    width: 100%;
    height: auto;
    margin: auto;
    background-color: #499fda;
    color: #dce4e9;
    font-size: 50px;
    padding: 18px 24px 18px 24px;
    box-shadow: 0px 10px 0px 0px #258cd1 ;
  }
  .downloadp:active{
    cursor: pointer;
    box-shadow: 0px 7px 0px 0px #258cd1;
  }
  .rquotep {
    width: 100%;
    margin:auto 20px auto auto;
    background-color: #dce4e9;
    box-shadow: 0px 10px 0px 0px #b2b7bb ;
  }
  .rquotep:active {
    background-color: #dce4e9;
    box-shadow: 0px 5px 0px 0px #b2b7bb;
  }
  .rpostp{
    width: 100%;
    margin:auto auto auto 20px;
    background-color: #dce4e9;
    box-shadow: 0px 10px 0px 0px #b2b7bb ;
  }
  .rpostp:active {
    background-color: #dce4e9;
    box-shadow: 0px 5px 0px 0px #b2b7bb;
  }
  .rbgp{
    width: 100%;
    margin: auto;
    background-color: #dce4e9;
    box-shadow: 0px 10px 0px 0px #b2b7bb ;
  }
  .rbgp:active {
    background-color: #dce4e9;
    box-shadow: 0px 5px 0px 0px #b2b7bb;
  }

  .hide{
    visibility: hidden;
  }
  .show{
    visibility: visible;
  }

  .loader {
    color: #b2b7bb;
    font-size: 30px;
    text-indent: -9999em;
    text-align: center;
    overflow: hidden;
    margin : 72px auto;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  }
  @-webkit-keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @-webkit-keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }


@media (orientation: landscape) {
  .landscape{
    display:show;
  }
  .portrait{
    display:none;
  }
.logo{
    width: 10%;
    height: 10%;
}
canvas {  
    width: 40%;
    height: 40%;
  }
}


@media (orientation: portrait) {

  .landscape{
    display:none;
  }
  .portrait{
    display:show;
  }
  .logo{
      width: 60%;
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      margin-bottom: 20px;
  }
  canvas {  
      width: 90%;
      height: 90%;
    }
  
  }

  @media (min-width: 480px)and (max-width: 599px)and (orientation: portrait) {

    .downloadp{
      font-size: 15px;
    }

    .rpostp{
      margin:auto auto auto 10px;
      font-size: 15px;
    }

    .rbgp{
      font-size: 15px;
    }

    .rquotep{
      margin:auto 10px auto auto;
      font-size: 15px;
    }
    
    
    }

  @media (min-width:600px) and (max-width: 1079px)and (orientation: portrait) {

    .downloadp{
      font-size: 20px;
    }

    .rpostp{
      font-size: 20px;
    }

    .rbgp{
      font-size: 20px;
    }

    .rquotep{
      font-size: 20px;
    }
    
    
    }
    
    @media (min-width: 1080px) and (max-width:1439px) and (orientation: portrait) {

      .row2{
        margin-top : 80px;
      }
      .downloadp{
        font-size: 40px;
      }
  
      .rpostp{
        font-size: 40px;
      }
  
      .rbgp{
        font-size: 40px;
      }
  
      .rquotep{
        font-size: 40px;
      }
      
      
      }

      @media (min-width: 1440px)and (orientation: portrait) {

        .row2{
          margin-top : 90px;
        }
        .downloadp{
          font-size: 50px;
        }
    
        .rpostp{
          font-size: 50px;
        }
    
        .rbgp{
          font-size: 50px;
        }
    
        .rquotep{
          font-size: 50px;
        }
        
        
        }
